.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-50);
}

.main-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 5rem;
  /* Account for fixed header */
  flex-grow: 1;
}

/* Notifications Container */
.notifications-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}